 h1{
            text-align: center;
            text-decoration: underline;
            color: rgb(133, 197, 38);
    }
    .lin{
        display: flex;
        column-gap: 5px;
        justify-content: space-evenly;
    }
    .tin{
          width: 300px;
    }