
       
        .flex-container{
            display: flex;
            /* justify-content: space-between; */
            background-color: green;
            height: 60px;
            align-items: center;
            /* column-gap: 16px; */
            /* justify-content: end; */
            justify-content: space-between;
        }
        .flex-items{
        margin: 5px;
        color: white;
        }
        .items{
            display: flex;
            column-gap: 120px;
        }
        h1{
            text-align: center;
            text-decoration: underline;
            color: rgb(133, 197, 38);
    }
        .ourstory{
            display: flex;
            column-gap: 50px;
            justify-content: space-evenly;
        }
         h2{
            text-decoration: underline;
            color: rgb(116, 163, 46);
    }
        .main-block{
            display: flex;
        }
        .flex-item{
        width: 1500px;
        height: 200px;
        background-color: black;
        color: white;
        /* margin: 5px; */
        }
       
        